<%= form_for @employee, html: {class:"text-center"} do |f| %>
<div class="row form-group">
  <div class="col-md-6">
    <%= f.text_field :first_name, {:placeholder => t("employee.first_name"), class:"form-control"} %>
  </div>
  <div class="col-md-6">
    <%= f.text_field :last_name, {:placeholder => t("employee.last_name"), class:"form-control"} %>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-6">
    <%= f.text_field :pin,{:placeholder => t("employee.pin"), class:"form-control"} %>
  </div>
  <div class="col-md-6">
    <%= f.text_field :employee_type, {:placeholder => t("employee.employee_type"), class:"form-control"} %>
  </div>
</div>
<button type="submit" class="btn btn-success btn-lg btn-block"><%= t "save" %></button>
<% end %>
