<%= form_for(@employee) do |f| %>
  <div class="field">
    <%= f.text_field :first_name, :placeholder => t("employee.first_name") %>
    <%= f.text_field :last_name, :placeholder => t("employee.last_name") %>
    <%= f.text_field :pin, :placeholder => t("employee.pin") %>
    <%= f.text_field :employee_type, :placeholder => t("employee.employee_type") %>
  </div>
  <div class="actions">
    <%= f.submit t("save") %>
    <%= link_to t("cancel"), employees_path %>
  </div>
<% end %>
