<!DOCtype html>
<html>
<head>
  <title>HostApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-container col-md-6 col-md-offset-3 text-center">
    <%= yield %>
  </div>
  <div class="alerts col-md-6 col-md-offset-3 text-center">
    <% if flash[:errors] %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" onclick="$('.alert-danger').hide()">×</button>
      <div id="error_explanation">
        <% flash[:errors].each do |msg| %>
        <div><%= msg %></div>
        <% end %>
      </div>
    </div>
    <% end %>

    <% if flash[:notice] %>
    <div class="alert alert-dismissable alert-info">
      <button type="button" class="close" onclick="$('.alert-info').hide()">×</button>
      <div class="notice"><%= flash[:notice] %></div>
    </div>
    <% end %>
  </div>
</body>
</html>
