<!DOCtype html>
<html>
<head>
  <title>HostApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:errors] %>
  <div id="error_explanation">
      <% flash[:errors].each do |msg| %>
      <div><%= msg %></div>
      <% end %>
  </div>
  <% end %>
</body>
</html>
